# Node modules
node_modules/

# Build output (hasil bundling, file statis build, dsb)
dist/

# Output folder untuk testing (misalnya e2e test output)
e2e/output/

# Environment variable files
.env
.env.*
!.env.example

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache directories
.cache/
.parcel-cache/

# IDE / Editor folders
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db
